<!-- navbar-component.html -->
<!-- navbar-component.html -->
<style>
    .custom-navbar {
      background-color: #333;
      color: #fff;
    }
    
    .custom-navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    .custom-navbar li {
      display: inline;
      margin-right: 20px;
    }
  
    .custom-navbar a {
      text-decoration: none;
      color: #fff;
    }
</style>
  
<nav class="custom-navbar">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
</nav>
  