.container-left {
    width: 30%;
    text-align: center;
}

.container-left div {
    font-size: larger;
}

.container-left>div {
    font-size: xx-large;
}

.container-right {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"] {
    text-align: center;
}


.screen-container {
    margin-top: 10px;
    color: #c7c7c7;
    background: #354e7d;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
}

table {
    text-align: center;
    display: flex;
    justify-content: center;
    border-spacing: 4px;
}

.total-table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.total-table tr {
    margin-left: auto;
    margin-right: auto;
    min-width: 80%;
    text-align: start;
    padding: 10px 20px 10px 20px;
}

.total-table th {
    height: 40px;
    text-align: start;
    font-size: x-large;
    padding: 10px 20px 10px 20px;
}

.total-table td {
    padding: 10px 20px 10px 20px;
}

.total-table tr:nth-child(odd) {
    background-color: #192643;
}

.total-table tr:nth-child(even) {
    background-color: #0f172a;
}

.detail-column, .total-column {
    width: 200px;
}

.total-column {
    font-size: x-large;

}

.price-detail, .price-detail-total {
    color: #c7c7c7;
}

.price-detail-total {
    font-weight: bolder;
}

main {
    display: flex;
    width: 100%;
}

input[type="submit"], button, input {
    background-color: #F99417;
    font-size: large;
    border-radius: 6px;
    border-style: none;
    padding: 8px 24px 8px 24px;
    cursor: pointer;
    margin: 20px 2px 10px 2px;
    transition: 0.5s ease-in-out;
}

/* .booking-submit-form {
    display: flex;
    flex-direction: column;
} */