* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



header {
  font-size: xx-large;
  height: 15%;
}

nav {
  height: 100%;
}

main {
  height: 75%;
  overflow: auto;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

a:hover {
  color: #1ddcd0;
  transition: 0.5s ease-in-out;
}

body {
  height: 100vh;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  background-color: #111;
  font-family: 'Open Sans', sans-serif;
}

@keyframes button-hover-end {
  100% {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
  }
}

.button-hover {
  animation: button-hover-end 500ms both;
}

.button-blog {
  background-color: #667EEA;
}

.button-default {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: lowercase;
  color: #fff;
  background-color: transparent;
  border: 1px solid transparent;
}

.button-cancel {
  background-color: #EF4444;
}

.button-purple {
  background-color: #9333EA;
}

.button-pink {
  background-color: #EC4899;
}

.button-lightblue {
  background-color: #3B82F6;
}

.button-yellow {
  color: #111827;
  background-color: #FCD34D;
}


.header-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.navbar-right-panel {
  display: flex;
  flex-direction: row;
  width: max-content;

}

.navbar-right-panel div {
  margin-left: 4px;
  margin-right: 4px;

}

.navbar-left-panel {
  width: max-content;
  font-size: xxx-large;


}

footer {
  background-color: black;
  color: white;
  height: 10%;
  text-align: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.footer-left-panel {
  font-size: large;
}

.footer-right-panel div {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-right-panel {
  display: flex;
  flex-direction: row;
}