.movie-card {
    width: 200px;
    height: 350px;
    background-color: rgb(51 65 85);
    margin: 15px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border-radius: 4px;
    padding-top: 20px;
}

.movie-card:hover {
    transition: 0.5s ease-in-out;
    opacity: 50%;
}

.movie-description span {
    color: #ec986e;
}

.movie-title {
    font-size: large;
    color: rgb(234 88 12);
}

.movie-description {
    padding: 1rem;
    color: rgb(202 138 4);
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}